In [80]:
import pandas as pd
import numpy as np

In [81]:
np.__version__

'1.25.0'

In [82]:
pd.__version__

'2.0.0'

In [83]:
# url to the hw data

url = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"

def fetch_data(url: str):
    df = pd.read_csv(url)
    return df

data = fetch_data(url=url)

data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [84]:
len(data)

11914

In [85]:
data.groupby("Make")["Make"].count().sort_values(ascending=False)

Make
Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Bugatti             3
Genesis             3
Name: Make, dtype: int64

In [86]:
len(data[data["Make"] == "Audi"].Model.unique())

34

In [87]:
data.isnull().any(axis=0).sum()

5

Question 6
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

In [88]:
print(f"Median value = {data['Engine Cylinders'].median()}")
print(f"Mode value = {data['Engine Cylinders'].mode()[0]}")
print(f"Mean value = {data['Engine Cylinders'].mean()}")
data['Engine Cylinders'].fillna(data['Engine Cylinders'].median(), inplace=True)
print(f"Updated median value = {data['Engine Cylinders'].median()}")

Median value = 6.0
Mode value = 4.0
Mean value = 5.628828677213059
Updated median value = 6.0

Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [92]:
# select all rows where 'Make' is 'Lotus'
lotus = data[data['Make'] == 'Lotus']

# keep only the columns 'Engine HP' and 'Engine Cylinders'
lotus = lotus[['Engine HP', 'Engine Cylinders']]

# drop all duplicate rows
lotus = lotus.drop_duplicates()

X = lotus.values

XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = XTX_inv.dot(X.T).dot(y)
w[0]

4.594944810094551

In [1]:
import sys

print(sys.executable)

c:\Users\rhys-\anaconda3\envs\loll\python.exe